body{
    display: block;
    background: content-box radial-gradient(rgb(213, 222, 230), rgb(135, 210, 235));
} 
h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 10px;
}
.header{
    padding:60px;
    text-align:  center;
    backface-visibility: visible;
    color: rgb(65, 61, 61);
    font-size: 30px;
}
h2{
    color: rgb(65, 72, 80);
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}
#fish{
    display: block;
    width: 50%;
    height: 200;
    margin-left: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}
p{
    
}

