.background{
    color: bisque;
}
title{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: slategrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}